.typewriter-text {
    overflow: hidden; /* Ensures the content is not revealed until typing */
    border-right: 0.15em solid orange; /* Cursor style */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation:
      typing 1.5s steps(10, end),
      blink-caret 0.75s step-end infinite; /* Typing effect */
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 7em; /* Adjust as needed */
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  